@font-face {
    font-family: SharpGroteskSmBold21;
    font-display: block;
    src: url('./fonts/letterboxdLogo.woff2') format('woff2');
}
@font-face {
    font-family: SharpGroteskBook15;
    font-display: block;
    src: url('./fonts/subtext.woff2') format('woff2');
}
@font-face {
    font-family: GraphikSemiBold;
    font-display: block;
    src: url('./fonts/Graphik-Semibold-Web.woff') format('woff');
}
@font-face {
    font-family: Graphik-Regular-Web;
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Graphik-Regular-Web.woff') format('woff');
}
.center-wrapper {
    width: 100%;
    height: 100%;
    /* Not sure why the absolutely positioned img tags are increasing height, so do this :/ */
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.center {
    position: relative;
    text-align: center; 

    padding: 35px 60px;
    width: 500px;
    height: 315px;
}
.center .title {
    -webkit-user-select: none;
    user-select: none;
}
.center img {
    border-radius: 4px;
    position: absolute;

    transition: top 0.3s, left 0.3s, bottom 0.3s, right 0.3s, opacity 2s;
}
.center p {
    width: 400px;
    font-size: 0.9em;
    text-align: center;
    font-family: 'Graphik-Regular-Web', sans-serif;
    margin: 40px auto 0 auto;
    line-height: 1.3em;

    transition: opacity 1s;
}
.center p a {
    color: #00E054;
}
.center label:hover {
    cursor: pointer;
    text-decoration: underline;
}
#zipInput {
    display: none;
}
.title {
    color: #eff1f2;
}
.header {
    font-family: SharpGroteskSmBold21;
    font-size: 4em;
    position: relative;
    top: 0px;
    left: 0px;

    transition: top 2s, left 1s;

    .progress {
        position: absolute;
        bottom: 0px;
        width: 100%;

        clip-path: path('M -100 0 Q -90 5 -80 0 Q -70 5 -60 0 Q -50 5 -40 0 Q -30 5 -20 0 Q -10 5 0 0 Q 5 10 20 0 Q 30 5 40 0 Q 50 5 60 0 Q 70 5 80 0 Q 90 5 100 0 Q 110 5 120 0 Q 130 5 140 0 Q 150 5 160 0 Q 170 5 180 0 Q 190 5 200 0 Q 210 5 220 0 Q 230 5 240 0 Q 250 5 260 0 Q 270 5 280 0 Q 290 5 300 0 Q 310 5 320 0 Q 330 5 340 0 Q 350 5 360 0 Q 370 5 380 0 Q 390 5 400 0 Q 410 5 420 0 Q 430 5 440 0 Q 450 5 460 0 Q 470 5 480 0 Q 490 5 500 0 L 500 0 L 0 500 Z');

        transition: height 0.5s ease;

        animation: cycle 2s linear 0s infinite;
    
        .wrapper {
            position: absolute;
            bottom: 0px;

            animation: cycleReverse 2s linear 0s infinite;
        }
    }

    .green {
        color: #00E054;
    }

    .blue {
        color: #40BCF4;
    }

    .orange {
        color: #FF8000;
    }
}
@keyframes cycle {
    from { transform: translateX(-40px); }
    to { transform: translateX(0px); }
}
@keyframes cycleReverse {
    from { transform: translateX(40px); }
    to { transform: translateX(0px); }
}
.nav {
    display: none;
}
.nav .title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -80px;
    user-select: none;
}
.nav .subtext {
    margin-left: 50px;
    letter-spacing: 1em;
}
.menu {
    display: flex;
    align-items: center;
    padding: 5px 0;
    justify-content: center;
}
.menu button {
    all: unset;
    cursor: pointer;
    padding: 9px 12px 8px;
    border-radius: 3px;
    margin-left: 34px;
    background: #00ac1c;
    box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .3);
    color: #f4fcf0;
    text-transform: uppercase;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;

    font-family: GraphikSemiBold, sans-serif;

    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;

    font-size: 0.8em;
    font-weight: 400;
    letter-spacing: .075em;
    line-height: 12px;
}
.menu button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}
.menu button:hover {
    background: #009d1a;
    color: #fff;
}
.menu #numMovies .total {
    font-weight: bold;
}
.menu #numMovies .filter {
    display: none;
}
.subtext {
    font-family: SharpGroteskBook15;
    font-size: 2em;
    letter-spacing: 2em;

    /* To offset the last letter spacing */
    margin-right: -2em;

    position: relative;
    top: 0px;
    left: 0px;
    transition: top 2s, left 1s, letter-spacing 2s;
}
@keyframes fillAnimation {
    from {
        height: 0%;
    }
    to {
        height: 100%;
    }
}
html {
    background-color: #14181c;
    color: #d8e0e8;
    font-size: 16px;
    font-family: sans-serif;
    height: 100%;
    overscroll-behavior: none;

    transition: 0.3s ease;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
}
html.hover {
    background-color: #1c2127;
}


#movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4px;
    margin: 0 auto;

    .movie {
        width: 30px;
        height: 44px;
        border-radius: 4px;
        overflow: hidden;
        box-sizing: border-box;

        &.missing {
            border: 1px solid;

            div {
                transform-origin: left center;
                transform: rotate(57.3deg);
                margin: -0.6em 0 0 0.1em;
                width: 180%;
                text-align: center;

                span {
                    white-space: nowrap;
                }
            }
        }

        img {
            width: 100%;
        }
    }
}
#stats {
    width: 400;
    margin: 0 auto;
    
    a {
        display: block;
    }
}
.tippy-box {
    background-color: #89a;
    color: #2c3440;
    font-family: 'Graphik-Regular-Web', sans-serif;
}
.tippy-content .name {
    width: 100%;
    font-size: 1.2em;
    text-align: center;
}
.tippy-content .name span {
    white-space: nowrap;
}
.tippy-content .director {
    width: 20px;
    margin: 0px 0px -6px 5px;
}
.tippy-content .countries {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
    overflow: hidden;
    margin-bottom: -3px;
}
.tippy-content .language {
    font-style: italic;
    text-align: center;
    margin-bottom: 7px;
}
.tippy-content img:not(.director) {
    max-width: 150px;
    border-radius: 5px;
    border: 1px solid #2c344059;
}
#movies .movie {
    cursor: pointer;
    position: relative;
}
#movies .movie::after {
    content: "";
    cursor: pointer;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    display: inline-block;
    border: 3px solid #00ac1c;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    transition: 0.3s ease;
}
#movies .movie:hover::after {
    opacity: 1;
}
/** List Selector */
#list-select {
  width: 300px;
  margin: 0 15px;
  user-select: none;
  cursor: pointer;
  position: relative;
}
#list-select .selected {
  border-radius: 4px;
}
#list-select.opened .selected {
  border-radius: 4px 4px 0px 0px;
}
.dropdown {
  position: absolute;
  width: 100%;
  border-radius: 0px 0px 4px 4px;
  overflow: scroll;
  max-height: calc(100vh - 200px);
  z-index: 1;
  background: #89a;
  padding-bottom: 5px;
  box-sizing: border-box;
}
#list-select .selected, .dropdown > div {
  display: flex;
  justify-content: space-between;
  background-color: #89a;
  padding: 7px 12px;
  color: #2c3440;
  position: relative;

  transition: 0.2s ease;
}
.sublist {
  margin: 7px 0 -7px 0;
}
.sublist div {
  display: flex;
  justify-content: space-between;
  color: #2c3440;
  position: relative;
  padding: 7px 12px 7px 26px;
  margin: 0 -14px;

  transition: 0.2s ease;
}
#list-select .name {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: calc(100% - 30px);
  overflow: hidden;
}
.dropdown > .group {
  flex-direction: column;
}
#list-select .selected:hover, .dropdown > div:not(.opened):hover, .sublist > div:hover {
  background-color: #a5b2c0;
}
#list-select div.selected .number {
  display: none;
}
#list-select div.selected:after {
  content: "▼";
  transform: scale(1.3, 1);
  font-size: 0.7em;
  position: absolute;
  right: 6px;
  opacity: 0.8;
  top: 9px;
}
#list-select .group:not(.opened) .sublist {
  display: none;
}
#list-select:not(.opened) .dropdown {
  display: none;
}
#list-select div.group:after {
  content: "▼";
  font-size: 0.7em;
  position: absolute;
  right: 6px;
  opacity: 0.8;
  top: 9px;

  transition: transform 0.3s ease;
}
#list-select div.group:not(.opened):after {
    transform: scale(1, 1.3) rotate(-90deg);
}
#list-select div.group.opened:after {
    transform: scale(1.3, 1);
}
#list-select .number {
  color: #575f6a;
}
.made {
    position: fixed;
    bottom: 5px;
    left: 5px;
    font-family: 'Graphik-Regular-Web', sans-serif;
    font-size: 0.8em;

    background-color: #14181c;
    padding: 15px;
    border-radius: 5px;

    color: #afb6be;

    a {
        color: #afb6be;
        transition: 0.2s ease;
    }

    a:hover {
        color: white;
    }
}
/** Help **/
#help {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);

    display: none;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
#help .modal {
    width: 500px;
    height: 300px;
    padding: 20px;
    border-radius: 15px;
    background-color: #89a;
    color: #2c3440;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    line-height: 1.2em;
}
#help .modal h2 {
    margin-top: 0px
}
#help .modal a.pro, #help .modal a.patron {
    font-family: GraphikSemiBold, sans-serif;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    padding: 4px;
    border-radius: 3px;
    text-shadow: 0 -1px rgba(0, 0, 0, .3);
    box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.1);
}
#help .modal a.pro {
    background-color: #ee7000;
}
#help .modal a.patron {
    background-color: #209ce4;
}
#help .modal button {
    all: unset;

    width: 36px;
    height: 36px;

    position: absolute;
    right: 10px;
    top: 10px;

    font-size: 1.3em;
    line-height: 36px;
    text-align: center;

    cursor: pointer;
    user-select: none;
}